**Modules**

In [29]:
import pandas as pd
import pickle

**Reading books with genres**

In [2]:
books_with_genres = pd.read_parquet("./all_books_with_genres.parquet")

In [3]:
books_with_genres.shape

(2113033, 5)

In [4]:
books_with_genres.head()

,book_id,title_without_series,genres,database_index,genres_mapped
0,5333265,W.C. Fields: A Life on Film,"[history, historical fiction, biography]",1,"[10, 9, 2]"
1,1333909,Good Harbor,"[fiction, history, historical fiction, biography]",2,"[7, 10, 9, 2]"
2,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","[fantasy, paranormal, fiction, mystery, thrill...",3,"[6, 13, 7, 11, 16, 5, 14]"
3,6066819,Best Friends Forever,"[fiction, romance, mystery, thriller, crime]",4,"[7, 15, 11, 16, 5]"
4,287140,Runic Astrology: Starcraft and Timekeeping in ...,[non-fiction],5,[12]

**Function to generate record tuples for uploading**

In [12]:
def generate_record_tuple(row):
    database_book_id = [row["database_index"]]
    genres_mapped = row["genres_mapped"]
   
    return list(zip(database_book_id*len(genres_mapped), genres_mapped))

**Testing the function on small data**

In [22]:
data_list = books_with_genres.head().apply(generate_record_tuple,axis=1).to_list()
data_list

[[(1, 10), (1, 9), (1, 2)],
 [(2, 7), (2, 10), (2, 9), (2, 2)],
 [(3, 6), (3, 13), (3, 7), (3, 11), (3, 16), (3, 5), (3, 14)],
 [(4, 7), (4, 15), (4, 11), (4, 16), (4, 5)],
 [(5, 12)]]

In [23]:
final_data_list = list()

for data in data_list:
    final_data_list.extend(data)

In [24]:
final_data_list

[(1, 10),
 (1, 9),
 (1, 2),
 (2, 7),
 (2, 10),
 (2, 9),
 (2, 2),
 (3, 6),
 (3, 13),
 (3, 7),
 (3, 11),
 (3, 16),
 (3, 5),
 (3, 14),
 (4, 7),
 (4, 15),
 (4, 11),
 (4, 16),
 (4, 5),
 (5, 12)]

**Applying the function on the complete data**

In [25]:
data_list = books_with_genres.apply(generate_record_tuple,axis=1).to_list()
data_list[:5]

[[(1, 10), (1, 9), (1, 2)],
 [(2, 7), (2, 10), (2, 9), (2, 2)],
 [(3, 6), (3, 13), (3, 7), (3, 11), (3, 16), (3, 5), (3, 14)],
 [(4, 7), (4, 15), (4, 11), (4, 16), (4, 5)],
 [(5, 12)]]

In [26]:
final_data_list = list()

for data in data_list:
    final_data_list.extend(data)

In [28]:
final_data_list[:10]

[(1, 10),
 (1, 9),
 (1, 2),
 (2, 7),
 (2, 10),
 (2, 9),
 (2, 2),
 (3, 6),
 (3, 13),
 (3, 7)]

**Export data for book_genres_lookup table**

In [30]:
with open('./book_genres_lookup.pkl', 'wb') as f:
    pickle.dump(final_data_list, f)